.title {
    font-size: 75px;
    text-align: center;
    border: 6px solid red;
}

.box {
    font-size: 55px;
    border: 3px solid darkred;
    margin-left: 20%;
    margin-right: 20%;
}

.daybutton {
    font-size: 25px;
    text-align: center;
    border: 3px solid darkred;
}

.timebutton {
    font-size: 16px;
    text-align: center;
    border: 3px solid darkred;
}